<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animate/100/attack/act.plist@1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,132},{42,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{26,50}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,55},{26,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{44,60}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{44,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,62}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,48},{66,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,62}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,48},{66,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{66,60}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,50},{66,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/attack/act.plist@7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,132},{42,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{128,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2f77107a2e0e0cd9ae5a1296db7591e$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>