<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animate/100/character/act.plist@1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{42,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/character/act.plist@2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,68},{32,52}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,53},{32,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/character/act.plist@3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,52},{30,60}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,45},{30,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/character/act.plist@4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,62}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,43},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/character/act.plist@5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{30,62}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,43},{30,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/character/act.plist@6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{30,56}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{30,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cheer.png</string>
            <key>size</key>
            <string>{110,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7e5983c369352840099c2131567ecf2$</string>
            <key>textureFileName</key>
            <string>cheer.png</string>
        </dict>
    </dict>
</plist>