<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animate/100/stand/act.plist@1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/stand/act.plist@2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/stand/act.plist@3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{44,46}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/stand/act.plist@4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{46,46}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>animate/100/stand/act.plist@5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,48}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{228,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424a8fee41a4392b982ac4b69106cf9a$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>